 * {
  /* border: solid 1px green;  */
  /* DEBUG */
  font-family: 'Roboto', sans-serif;
  background-color: #282828;
}

.home-page {
    /* Fill screen */
  display: flex;
  flex-direction: column;
  /* background-color: #282828; */
}

.title-container {
  text-align: center;
  padding-top: 50px;
  flex: 1;
}

.title-text {
  color: #7445FF;
  font-size: 5em;
}

.grab-button {
  color: #190061;
}

.home-page-container {
  flex: 1;
}

/* ResultsModule */

/* ResultCard */
.result-card {
  background-color: #1a1a1a;
  border: 1px solid #938F99;
  border-radius: 10px;
}

.result-card-header {
  margin: 20px 20px 20px 20px;
}

.result-card-header-name {
  color: white;
  font-size: 1.5rem;
}

.result-card-header-cuisines {
  color: white;
  font-size: 0.75rem;
  margin-top: 25px;
}

.result-card-header-address {
  color: white;
  margin-top: 15px;
}

.result-card-media {
  width: inherit;
  height: 200px;
}

.image-container {
  margin: 15px 0px 15px 15px;
}

.result-image {
  object-fit: cover;
  border-radius: 50%;
  height: 128px;
}

.result-card-rating {
  color: #af95ff;
  overflow-y: auto;
}

.rating-icon {
  margin-right: 10px;
}

.rating-text {
  margin-left: 10px;
}

.rating-separator {
  margin-left: 20px;
  margin-right: 20px;
}

.action-buttons {
  border: none;
}

/* .result-card-container {
  border: solid 2px black;
  border-radius: 7px;
  box-shadow: 3px 3px darkblue;

  margin: 10px 10px 10px 10px;
  background: white;

  display: flex;
  flex-direction: row;
}

.result-card-text {
  flex: 3;

  color: black;
  padding: 0px 0px 10px 10px;
}

.result-card-text h1 {
  font-size: 3rem;
}

.result-card-rating {
  text-align: center;
  padding-top: 1em;

  flex: 1;
}

.result-card-price-level {
  text-align: center;
  padding-top: 1em;
  flex: 1;
}  */